* {
  padding: 0px 0px;
  margin: 0px 0px;
}
body {
  background: gray;
}
/*
*设置分栏的less函数；
*/
.container {
  width: 1020px;
  height: 1600px;
  margin: 0 auto;
  background: deepskyblue;
}
.container .main-section {
  width: 100%;
  height: 100%;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.container .main-section div {
  margin-top: 5px;
  width: 200px;
  height: 180px;
  background: slateblue;
}
.container .main-section div img {
  width: 200px;
}
.container .main-section div p {
  text-align: center;
}
