<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多栏布局</title>
    <link type="text/css" href="../css/duoLanBuJu.css"rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="main-section">
            <div class="img-div-1">
                <img src="../img/1.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-2">
                <img src="../img/2.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-3">
                <img src="../img/3.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-4">
                <img src="../img/4.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-5">
                <img src="../img/5.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-6">
                <img src="../img/6.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-1">
                <img src="../img/1.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-2">
                <img src="../img/2.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-3">
                <img src="../img/3.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-4">
                <img src="img/4.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-5">
                <img src="../img/5.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-6">
                <img src="../img/6.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-1">
                <img src="../img/1.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-2">
                <img src="../img/2.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-3">
                <img src="../img/3.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-4">
                <img src="../img/4.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-5">
                <img src="../img/5.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-6">
                <img src="../img/6.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-6">
                <img src="i../mg/6.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-6">
                <img src="../img/6.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
            <div class="img-div-7">
                <img src="../img/7.jpeg">
                <p>one picture</p>
            </div>
            <div class="img-div-8">
                <img src="../img/8.jpeg">
                <p>two picture</p>
            </div>
        </div>
    </div>
</body>
</html>