<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹性布局</title>
    <link type="text/css" href="../css/flexBox.css" rel="stylesheet">
</head>
<body>
<header class="header-style">
    <h1>CSS3 Flex Learning </h1>
</header>
<nav class="nav-bar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact me</a></li>
    </ul>
</nav>
<article class="container">
    <section>
        <div class="container-1">
            <div class="left-1">
                <h1>文章1:</h1>
                <p>
                    这是一个长满了百合花的峡谷。百合花静静地开放着，水边、坡上、岩石旁、大树下，到处都有。
                    它们不疯不闹，也无鲜艳的颜色，仿佛它们开放着，也就是开放着，全无一点别的心思。峡谷上空的阳光是明亮的，甚至是强烈的，但因为峡谷太深，阳光仿佛要走过漫长的时间。
                    因此，照进峡谷，照到这些百合花时，阳光已经变得柔和了，柔和得像薄薄的、轻盈得能飘动起来的雨幕。
                </p>
            </div>
            <div class="context-1">
                <h1>文章2:</h1>
                <p>
                    眼下的夏天，是地地道道的夏天。太阳才一露脸，天地间便弥漫开无形的热气，而当太阳如金色的轮子，轰隆隆滚动过来，直滚到人的头顶上时，天地间就仿佛变得火光闪闪了。
                    河边的芦苇叶晒成了卷，一切植物都无法抵抗这种热浪的袭击，而昏昏欲睡地低下了头。大路上，偶尔有人走过，都是匆匆的样子，仿佛在这种阳光下一旦呆久了，就会被烧着似的。
                    会游泳与不会游泳的孩子，都被这难忍的炎热逼进了河里。因此，河上到处是喧闹声。
                </p>
            </div>
            <div class="right-1">
                <h1>文章3:</h1>
                <p>
                    还有那条绕着山脚的小河，也泛出绿色，那是另外一种绿，明晃晃的，像是搀了油似的，至于山，仍是绿色，
                    却是一堆浓郁郁的黛绿，让人觉得，无论从哪里下手，都不能拔开一道缝儿的，让人觉得，即使刨开它两层下来，它的绿仍然不会减色的。
                    此外，我的纱窗也是绿的，极浅极浅的绿，被太阳一照，当真就像古美人的纱裙一样飘缈了。你们想，我在这样一个染满了绿意的早晨和你们写信，
                    我的心里又焉能不充溢着生气勃勃的绿呢？
                </p>
            </div>
        </div>
        <div class="container-2">
            <div class="left-2">
                <h1>文章1:</h1>
                <p>
                    这是一个长满了百合花的峡谷。百合花静静地开放着，水边、坡上、岩石旁、大树下，到处都有。
                    它们不疯不闹，也无鲜艳的颜色，仿佛它们开放着，也就是开放着，全无一点别的心思。峡谷上空的阳光是明亮的，甚至是强烈的，但因为峡谷太深，阳光仿佛要走过漫长的时间。
                    因此，照进峡谷，照到这些百合花时，阳光已经变得柔和了，柔和得像薄薄的、轻盈得能飘动起来的雨幕。
                </p>
            </div>
            <div class="context-2">
                <h1>文章2:</h1>
                <p>
                    眼下的夏天，是地地道道的夏天。太阳才一露脸，天地间便弥漫开无形的热气，而当太阳如金色的轮子，轰隆隆滚动过来，直滚到人的头顶上时，天地间就仿佛变得火光闪闪了。
                    河边的芦苇叶晒成了卷，一切植物都无法抵抗这种热浪的袭击，而昏昏欲睡地低下了头。大路上，偶尔有人走过，都是匆匆的样子，仿佛在这种阳光下一旦呆久了，就会被烧着似的。
                    会游泳与不会游泳的孩子，都被这难忍的炎热逼进了河里。因此，河上到处是喧闹声。
                </p>
            </div>
            <div class="right-2">
                <h1>文章3:</h1>
                <p>
                    还有那条绕着山脚的小河，也泛出绿色，那是另外一种绿，明晃晃的，像是搀了油似的，至于山，仍是绿色，
                    却是一堆浓郁郁的黛绿，让人觉得，无论从哪里下手，都不能拔开一道缝儿的，让人觉得，即使刨开它两层下来，它的绿仍然不会减色的。
                    此外，我的纱窗也是绿的，极浅极浅的绿，被太阳一照，当真就像古美人的纱裙一样飘缈了。你们想，我在这样一个染满了绿意的早晨和你们写信，
                    我的心里又焉能不充溢着生气勃勃的绿呢？
                </p>
            </div>
        </div>
        <div class="container-3">
            <div class="left-3">
                <h1>文章1:</h1>
                <p>
                    这是一个长满了百合花的峡谷。百合花静静地开放着，水边、坡上、岩石旁、大树下，到处都有。
                    它们不疯不闹，也无鲜艳的颜色，仿佛它们开放着，也就是开放着，全无一点别的心思。峡谷上空的阳光是明亮的，甚至是强烈的，但因为峡谷太深，阳光仿佛要走过漫长的时间。
                    因此，照进峡谷，照到这些百合花时，阳光已经变得柔和了，柔和得像薄薄的、轻盈得能飘动起来的雨幕。
                </p>
            </div>
            <div class="context-3">
                <h1>文章2:</h1>
                <p>
                    眼下的夏天，是地地道道的夏天。太阳才一露脸，天地间便弥漫开无形的热气，而当太阳如金色的轮子，轰隆隆滚动过来，直滚到人的头顶上时，天地间就仿佛变得火光闪闪了。
                    河边的芦苇叶晒成了卷，一切植物都无法抵抗这种热浪的袭击，而昏昏欲睡地低下了头。大路上，偶尔有人走过，都是匆匆的样子，仿佛在这种阳光下一旦呆久了，就会被烧着似的。
                    会游泳与不会游泳的孩子，都被这难忍的炎热逼进了河里。因此，河上到处是喧闹声。
                </p>
            </div>
            <div class="right-3">
                <h1>文章3:</h1>
                <p>
                    还有那条绕着山脚的小河，也泛出绿色，那是另外一种绿，明晃晃的，像是搀了油似的，至于山，仍是绿色，
                    却是一堆浓郁郁的黛绿，让人觉得，无论从哪里下手，都不能拔开一道缝儿的，让人觉得，即使刨开它两层下来，它的绿仍然不会减色的。
                    此外，我的纱窗也是绿的，极浅极浅的绿，被太阳一照，当真就像古美人的纱裙一样飘缈了。你们想，我在这样一个染满了绿意的早晨和你们写信，
                    我的心里又焉能不充溢着生气勃勃的绿呢？
                </p>
            </div>
        </div>
        <div class="container-4">
            <div class="left-4">
                <h1>文章1:</h1>
                <p>
                    这是一个长满了百合花的峡谷。百合花静静地开放着，水边、坡上、岩石旁、大树下，到处都有。
                    它们不疯不闹，也无鲜艳的颜色，仿佛它们开放着，也就是开放着，全无一点别的心思。峡谷上空的阳光是明亮的，甚至是强烈的，但因为峡谷太深，阳光仿佛要走过漫长的时间。
                    因此，照进峡谷，照到这些百合花时，阳光已经变得柔和了，柔和得像薄薄的、轻盈得能飘动起来的雨幕。
                </p>
            </div>
            <div class="context-4">
                <h1>文章2:</h1>
                <p>
                    眼下的夏天，是地地道道的夏天。太阳才一露脸，天地间便弥漫开无形的热气，而当太阳如金色的轮子，轰隆隆滚动过来，直滚到人的头顶上时，天地间就仿佛变得火光闪闪了。
                    河边的芦苇叶晒成了卷，一切植物都无法抵抗这种热浪的袭击，而昏昏欲睡地低下了头。大路上，偶尔有人走过，都是匆匆的样子，仿佛在这种阳光下一旦呆久了，就会被烧着似的。
                    会游泳与不会游泳的孩子，都被这难忍的炎热逼进了河里。因此，河上到处是喧闹声。
                </p>
            </div>
            <div class="right-4">
                <h1>文章3:</h1>
                <p>
                    还有那条绕着山脚的小河，也泛出绿色，那是另外一种绿，明晃晃的，像是搀了油似的，至于山，仍是绿色，
                    却是一堆浓郁郁的黛绿，让人觉得，无论从哪里下手，都不能拔开一道缝儿的，让人觉得，即使刨开它两层下来，它的绿仍然不会减色的。
                    此外，我的纱窗也是绿的，极浅极浅的绿，被太阳一照，当真就像古美人的纱裙一样飘缈了。你们想，我在这样一个染满了绿意的早晨和你们写信，
                    我的心里又焉能不充溢着生气勃勃的绿呢？
                </p>
            </div>
        </div>
        <div class="container-5">
            <div class="left-5">
                <h1>文章1:</h1>
                <p>
                    这是一个长满了百合花的峡谷。百合花静静地开放着，水边、坡上、岩石旁、大树下，到处都有。
                    它们不疯不闹，也无鲜艳的颜色，仿佛它们开放着，也就是开放着，全无一点别的心思。峡谷上空的阳光是明亮的，甚至是强烈的，但因为峡谷太深，阳光仿佛要走过漫长的时间。
                    因此，照进峡谷，照到这些百合花时，阳光已经变得柔和了，柔和得像薄薄的、轻盈得能飘动起来的雨幕。
                </p>
            </div>
            <div class="context-5">
                <h1>文章2:</h1>
                <p>
                    眼下的夏天，是地地道道的夏天。太阳才一露脸，天地间便弥漫开无形的热气，而当太阳如金色的轮子，轰隆隆滚动过来，直滚到人的头顶上时，天地间就仿佛变得火光闪闪了。
                    河边的芦苇叶晒成了卷，一切植物都无法抵抗这种热浪的袭击，而昏昏欲睡地低下了头。大路上，偶尔有人走过，都是匆匆的样子，仿佛在这种阳光下一旦呆久了，就会被烧着似的。
                    会游泳与不会游泳的孩子，都被这难忍的炎热逼进了河里。因此，河上到处是喧闹声。
                </p>
            </div>
            <div class="right-5">
                <h1>文章3:</h1>
                <p>
                    还有那条绕着山脚的小河，也泛出绿色，那是另外一种绿，明晃晃的，像是搀了油似的，至于山，仍是绿色，
                    却是一堆浓郁郁的黛绿，让人觉得，无论从哪里下手，都不能拔开一道缝儿的，让人觉得，即使刨开它两层下来，它的绿仍然不会减色的。
                    此外，我的纱窗也是绿的，极浅极浅的绿，被太阳一照，当真就像古美人的纱裙一样飘缈了。你们想，我在这样一个染满了绿意的早晨和你们写信，
                    我的心里又焉能不充溢着生气勃勃的绿呢？
                </p>
            </div>
        </div>
        <div class="container-6">
            <div class="left-6">
                <h1>1.flex-wrap</h1>
            </div>
            <div class="context-6">
                <h1>2.flex-wrap</h1>
            </div>
            <div class="right-6">
                <h1>3.flex-wrap</h1>
            </div>
        </div>
        <div class="container-7">
            <div class="left-7">
                <h1>1.justify-content</h1>
            </div>
            <div class="context-7">
                <h1>2.justify-content</h1>
            </div>
            <div class="right-7">
                <h1>3.justify-content</h1>
            </div>
        </div>
        <div class="container-8">
            <div class="left-8">
                <h1>1.align-items and align-self</h1>
            </div>
            <div class="context-8">
                <h1>2.align-items and align-self</h1>
            </div>
            <div class="right-8">
                <h1>3.align-items and align-self</h1>
            </div>
        </div>
        <div class="container-9">
            <div class="left-9">
                <h1>1.align-content</h1>
            </div>
            <div class="context-9">
                <h1>2.align-content</h1>
            </div>
            <div class="right-9">
                <h1>3.align-content</h1>
            </div>
        </div>
    </section>
</article>

<footer>

</footer>
</body>
</html>