<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            width:1000px;
            height: 2000px;
            background-color:dimgray;
        }
    </style>
</head>
<body>
    <div id="div-show">
        <h1>this is show time</h1>
    </div>
</body>
<script src="../js/Event.js"></script>
<script src="../js/testEvent1.js"></script>
<script src="../js/pageXAndpageY.js"></script>
<script src="../js/mouseWheel.js"></script>
</html>