<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resume</title>
    <link href="css/indexAll.css" rel="stylesheet" >
    <script src="//cdn.bootcss.com/Chart.js/2.1.6/Chart.bundle.js"></script>

</head>
<body id="mainBody">
    <nav class="nav-title">
        <div class="nav_wrap">
            <div class="resume_logo">
                <a href="index.html">个人简历</a>
            </div>
            <div class="nav_bar">
                <ul class="nav_bar_ul">
                    <li><a href="index.html">主页</a></li>
                    <li><a href="html/photoWell.html">照片墙</a></li>
                    <li><a href="html/mainPage.html">个人博客</a></li>
                    <li><a href="#">page4</a></li>
                    <li><a href="#">page5</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <aside class="main-info">
        <div class="person-img">
            <div>
                <!--<img src="img/1.jpg">-->
            </div>
        </div>
        <h2><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>我要的天空是有前端的地方</h2>
        <div class="div-line">
            <hr>
        </div>
        <div class="person-info">
            <p>田健</p>
            <p>前端工程师</p>
            <p>18709234574</p>
        </div>
    </aside>
    <section class="main-body">
        <div class="person-info-all person-main-info" id="mainInfo">
            <div class="con_wrap">
                <div class="tit_wrap">
                    <h1>关于我</h1>
                    <div class="scissors">
                        <div class="eat-line"></div>
                        <span></span>

                    </div>
                    <h2>我要的天空是有你和前端的地方</h2>
                </div>
                <div class="myinfo">
                    <table>
                        <tbody>
                        <tr>
                            <td rowspan="6">
                                <img src="img/IT.jpg">
                            </td>
                            <td>姓名 | 田健</td>
                            <td>手机 | 18709234574</td>

                        </tr>
                        <tr>
                            <td>性别 | 男</td>
                            <td>邮箱 | 942347210@qq.com</td>
                        </tr>
                        <tr>
                            <td>出生 | 1993.02.06</td>

                            <td>QQ号 | 942347210</td>
                        </tr>
                        <tr>
                            <td>居住 | 陕西省西安</td>
                            <td>户籍 | 甘肃平凉</td>
                        </tr>
                        <tr>
                            <td>学历 | 硕士</td>
                            <td>学校 | 西安电子科技大学</td>
                        </tr>
                        <tr>
                            <td>专业 | 机械电子</td>
                            <td>英语 | 英语六级</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p>项目：</p><br>
                                <a href="http://58.218.196.217:8082">1. 徐工三维发布物（html+css+js+PHP,需兼容IE7,并实现响应式布局）</a><br>
                                <a>2. 基于Pro/E二次开发，三维模型的自动装配以及拆分动画（C++）</a><br>
                                <p>小作品 （查看网址：https://jjflyz.github.io  主要挂载Github主页）</p><br>
                                <a href="html/photoWell.html">1. 个人照片墙（注：已连接到地址) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a href="html/mainPage.html">2. 个人主页 </a>
                                <a href="＃"></a><br>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="info-slice" id="infoSlice1">
        </div>
        <div class="person-info-all" id="skillInfo" >
            <div class="skill-table">
                <canvas id="canvas-table" class="canvas-table-class" ></canvas>
            </div>
            <div class="skill-info">
                <div class="skill-info-left">
                    <p>1.  熟练HTML，CSS，JavaScript，可熟练使用jQuery。</p>
                    <p>2.  了解部分HTML5，CSS3，开发符合W3C标准的前端网页。</p>
                    <p>3.  掌握ES6的部分语法，如语法糖class等</p>
                    <p>4.  掌握less，可通过koala扩展css功能,提高css功能和效率。</p>
                    <p>5.  熟悉Ajax的运行机制，能使用ajax进行数据交互。</p>
                    <p>6.  了解前端框架vue.js。</p>
                    <p>7.  了解流体布局和弹性布局，以及媒介查询实现响应式布局。</p>
                </div>
                <div class="skill-info-right">
                    <p>8.  掌握部分主流浏览器的差异性，有解决主流浏览器的兼容性问题的经验。</p>
                    <p>9.  熟悉PHP语法实现前端发送数据，后端查询数据库（sqlserver 2008),并返回前端。</p>
                    <p>10. 了解部分node.js</p>
                    <p>11. 熟悉编辑器 webStorm、sublime text、dreamweaver</p>
                    <p>12. 了解部分C++语言，曾独立完成基于c++的Pro/E二次开发项目</p>
                </div>
            </div>
        </div>
        <div class="info-slice" id="infoSlice2">
        </div>
        <div class="person-info-all" id="objectInfo">
            <div class="object-class object-1">
                <h1>塔里木盆地油田油管强度计算系统</h1>
                <div class="canvas-table-object">
                    <canvas class="canvas-object-3" id="object-1"></canvas>
                </div>
                <div class="object-info-title">
                    <p>项目地点：陕西西安</p>
                    <p>项目对象：塔里木盆地油田</p>
                    <p>承担角色：负责人之一</p>
                </div>
                <div class="object-detail">
                    <div class="object-detail-left">
                        <p>主要职责与业绩</p>
                        <p>主要实现的工作是，给塔里木盆地油田一套完整的实现油田油管强度计算的系统，本系统理论强度有：连接强度、内压强度、屈服前度、扭矩等等。
                            最后可视化显示在界面中供采购人员做采购依据。</p>
                    </div>
                    <div class="object-detail-right">

                    </div>
                </div>
            </div>
            <div class="object-class object-2">
                <h1>基于Pro/E全三维电子装配系统</h1>
                <div class="canvas-table-object">
                    <canvas class="canvas-object-2" id="object-2"></canvas>
                </div>
                <div class="object-info-title">
                    <p>项目地点：陕西西安</p>
                    <p>项目对象：天津18所</p>
                    <p>承担角色：项目主负责人</p>
                </div>
                <div class="object-detail">
                    <div class="object-detail-left">
                        <p>主要职责与业绩</p>
                        <p>1.基于Pro/E二次开发，主要语言c++。</p>
                        <p>2.解析PADS的emn以及emp文件，将文件信息保存类中。</p>
                        <p>3.实现自动生成坐标，通过解析的文件实现毛坯三维模型自动生成。</p>
                        <p>4.实现检测库文件，如果库中有三维模型，装配此模型，没有装配毛坯。</p>
                        <p>5.检测模型是否装载成功，并罗列成功与非成功的模型。</p>
                        <p>6.了解如何进行二次开发的调试</p>
                    </div>
                    <div class="object-detail-right">

                    </div>
                </div>
            </div>
            <div class="object-class object-3">
                <h1>徐工三维发布系统（3Dpub）</h1>
                <div class="canvas-table-object">
                    <canvas class="canvas-object-1" id="object-3"></canvas>
                </div>
                <div class="object-info-title">
                    <p>项目地点：江苏省徐州徐工集团</p>
                    <p>项目对象：针对徐工集团下属单位</p>
                    <p>承担角色：发布端主负责人</p>
                </div>
                <div class="object-detail">
                    <div class="object-detail-left">
                        <p>主要职责与业绩</p>
                        <p>1.搭建服务，建立可视化数据库(sqlserver 2008)。</p>
                        <p>2.前端基本所有的javascript,css,html代码，以及后端PHP代码。</p>
                        <p>3.通过ajax实现前后端数据交互，通过odbc连接数据库进行数据查询，并返回数据。</p>
                        <p>4.策划多语言，主要通过加载json文件替换静态页面中的中文字符。</p>
                        <p>5.响应式布局，兼容pc和移动端，主要通过媒介查询。</p>
                        <p>6.兼容性问题，需兼容IE7，只能通过原生js和jquery 1.0版本。</p>
                        <p>7.通过getJsonp实现跨域，将主服务器用代理服务器隔离开。</p>
                    </div>
                    <div class="object-detail-right">

                    </div>
                </div>
            </div>
        </div>
        <div class="info-slice"id="infoSlice3">

        </div>
    </section>
    <aside class="right-slice">
        <div><a class="circle-cur" id="circleCur-1" href="#mainBody"></a><span>首页</span></div>
        <div><a class="circle-cur" id='circleCur' href="#infoSlice1"></a><span>技能</span></div>
        <div><a class="circle-cur" id="circleCur-2" href="#infoSlice2"></a><span>项目</span></div>
        <!--<a class="circle-cur" href="#infoSlice3"></a>-->
    </aside>
    <footer class="foot-bar">

    </footer>
</body>
</html>
<script src="js/indexAll.js"></script>
<script src="js/indexSpecial.js"></script>